*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* reset */
    border: 1px solid red;
}

body{
    font-family:'Nunito', sans-serif;
}
    
/* imposto lo stile dei titoli */

h1{
    font-weight: 600;
    height: 50px;
    text-align: center;
    color: #ED3979;
}

h2{
    text-align: center;
    margin-bottom: 10px;
    
}

h3{
    display: inline-block;
    vertical-align: top;
    font-weight: bolder;
    }

h4{
    width: 100px;
    display: inline-block;
    
}
/* inizio sezione down */
#down{
    float: left;
    text-align: center;
    
}

/*  imposto lo stile float ai div container e agli altri due contenuti in esso*/
.container{
    background-color:#0F0E17;
    width: calc(100% / 3);
    float: left;
    text-align: center;
}


.img{
    
    background-size:  cover;
    width: calc(100% / 3);
    float: left;
    text-align: center;
    

}

.peapole{
    width: calc(100% / 3);
    float: left;
    text-align: center;

}

.description{
    margin left: 15px;
    color: white;
    width: calc(100% / 3);
    float: left;
    text-align: center;
    
}