*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* reset 
    border: 1px solid red;*/
}

body{
    font-family:'Nunito', sans-serif;
}
    
/* imposto lo stile dei titoli */

h1{
    font-weight: 600;
    height: 50px;
    text-align: center;
    color: #ED3979;
    margin-bottom: 50px;
}

h2{
    text-align: center;
    margin-bottom: 50px;
    
}

h3{
    
    float: left;
    font-weight: bolder;
    }

h4{
    float: left;
    width: 100px;
    display: inline-block;
    
}
a{
    float: left;
}

/* inizio sezione down */
#down{
    padding-left: 100px;
    padding-right: 100px;
    float: left;
    text-align: center;
    
}

/*  imposto lo stile float ai div container e agli altri due contenuti in esso*/
.container{
   
    margin-top: 50px;
    height: 140px;
    background-color:#0F0E17;
    width: calc(100% / 3);
    text-align: center;
}

#down .container{
    float: left;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.imag{
    
    width: calc(100% / 3);
    float: left;
    text-align: center;
    

}

img{
    height: 140px;
}

.peapole{
    width: calc(100% / 3);
    float: left;
    text-align: center;

}

.description{
    margin-left: 40px;
    color: white;
    width: calc(100% / 3);
    float: left;
    text-align: center;
    
}